html {
	font-size: 62.5%;
	/*1 rem = 10px*/
body {
	background-color: $blanco;
	overflow-x: hidden;
	header {
		.caja {
			display:flex;
			flex-direction: row;
            @include mobile {
				display: grid;
				grid-template-columns: 1fr;
			}
			.foto-header {
				.foto-np {
					background: linear-gradient(
                        305deg,
                        hsl(7deg 55% 56%) 0%,
                        hsl(7deg 60% 60%) 25%,
                        hsl(7deg 73% 58%) 50%,
                        hsl(7deg 74% 50%) 75%,
                        hsl(7deg 95% 38%) 100%
                    );
					border-radius: 0.8px;
					margin-top: 5rem;
					margin-right:4rem;
					margin-bottom:1.5rem;
					height: 30rem;
					border-radius:0 1rem 1rem 0;
                    @include mobile {
						width: 80%;
						margin-top:0;
						margin-right: 3rem;
						margin-left: 3rem;
                        margin-top: 0;
						height:180px;
						border-radius:0 0 1rem 1rem;	
						}
                    }
                }
                .header{
                    @extend %header;
                    align-items:left;
                    background-color: $hover;
                    @include mobile {
                        height: 305px;
                        margin-top:3rem;
                        margin-right: 3rem;
                        margin-left: 3rem;
                        margin-bottom:0;
                        width: 80%;
                        border-radius:1rem 1rem 0 0;
                        padding-right: 1rem;
                        padding-left: 1rem;
                        padding-bottom: 1rem;
                    }
                    .titles--white {
                        @extend %titles--white;
                        padding-top: 8rem;
                        padding-right: 20px;
                        padding-left: 40px;
                        padding-bottom: 5px;
                        @include mobile {
                            font-weight: 600;
                            font-size: 2.3rem;
                            padding-top: 2rem;
                            padding-right: 1rem;
                            padding-left: 1rem;
                            padding-bottom: 0.5rem;
                        }
                        @include tablet {
                            padding-top: 2rem;
                            padding-left: 3rem;
                        }
                    }
                    .text-white {
                        @extend %text-white;
                        padding-left: 4rem;
                        padding-right: 4rem;
                        padding-bottom: 20px;
                        @include mobile {
                            font-weight: 400;
                            font-size: 1.2rem;
                            padding:1rem;
                        }
                        @include tablet {
                            font-weight: 400;
                            font-size: 1.2rem;
                            padding-left:3rem;
                            padding-bottom: 0.5rem;
                            padding-right: 2rem;
                        }
                    }
				}
			}
		}
        main {
            .card-cursos {
                    display: grid;
                    grid-template-columns: 1fr 1fr; 
                    margin: 4rem;
                    border-radius: 1rem 1rem 1rem 1rem;
                    border: 1px solid $naranja-oscuro;
                    @include mobile {
                        border-radius: 1rem 1rem 1rem 1rem;
                        display: grid;
                        grid-template-columns: 1fr;
                        margin:3rem; 
                    }
                    @include tablet {
                        border-radius: 1rem 1rem 1rem 1rem;
                        display: grid;
                        grid-template-columns: 1fr;
                        margin:3rem;
                    }
                    .grid.card {
                        padding: 2rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
                    .logos-profes {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        float: right;
                        gap:2rem;
                        margin-top:16rem;
                        margin-right: 2.5rem;
                        @include mobile {
                            display: none;
                        }
                        @include tablet {
                            margin-top: 3rem;
                        }
                    }
                    .foto-izq{
                        width: 100%;
                        padding: 0;
                        margin: 0;
                        height: 100;
                        border-radius: 1rem 8rem 8rem 1rem;
                        @include mobile {
                            display: none;
                        }
                        }
                    .foto-der{
                        width: 100%;
                        padding: 0;
                        margin: 0;
                        height: 100;
                        border-radius: 8rem 1rem 1rem 8rem;
                        @include mobile {
                            display: none;
                            }
                    }
                    .foto-mobile {
                        width: 100%;
                        border-radius: 1rem 1rem 2rem 2rem;
                        @include desktop {
                            display: none;
                            }
                        }
                    .titles-card-p {
                    padding-top: 4rem;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    padding-bottom: 0;
                    margin-top:10rem;
                    font-size: 5rem;
                    color:$naranja-oscuro;
                    font-weight: 700;
                    @include mobile {
                        font-weight: 700;
                        font-size: 2.2rem;
                        padding-top: 1.5rem;
                        padding-right: 3rem;
                        padding-left: 2rem;
                        padding-bottom: 0.5rem;
                        margin-top:0.5rem;
                    }
                    @include tablet {
                        margin-top: 0;
                        padding-top: 1rem;
                    }
                    }
                    .text {
                    padding-left: 2rem;
                    margin: 0;
                    }
                    .subtitles-card-2{
                    font-size: 2rem;
                    padding-left:2rem;
                    margin:0;
                    }
                    .list {
                    padding-top:0;
                    padding-left: 1rem;
                    padding-right: 0;
                    padding-bottom: 1rem;
                    margin-left: 3rem;
                    margin-top: 0.5rem;
                    margin-bottom: 0;
                    font-size: 1.3rem;
                    font-family: $font-family;
                    color: $morado-oscuro;
                    }
                    .boton-card {
                        display: flex;
                        justify-content: center;
                        float:left;
                        font-family: $font-family;
                        font-size: 1.8rem;
                        text-decoration: none;
                        border-radius: 8px;
                        background-color: $naranja-claro;
                        color: $blanco;
                        font-weight: 600;
                        margin-top:0.2rem;
                        margin-left:2rem;          
                        margin-bottom: 1rem;
                        border: 0.2rem solid $naranja-oscuro; 
                        padding: 1rem 1.5rem;
                        @include mobile {
                            float: left;
                            padding:0.5rem;
                            margin-left: 2rem;
                            margin-right:2rem;
                            margin-bottom: 1rem;
                            width: 85%;
                        }
                        @include tablet {
                            margin-bottom: 1rem;
                        }
                        &:hover {
                            background-color: $naranja-oscuro;
                            color:$blanco;
                        }
                    }        
                }
            }
        }
    }	
		
	
	