$blanco : #FFFF;
$morado-claro :#3B286D;
$morado-oscuro:#190945;
$lila:#D9D0F0;
$naranja-oscuro:#FF543E;
$naranja-claro:#f89a8c;
$hover:#FA3C23;
$boton-form:#f87564;
$font-family : "Montserrat", sans-serif;
